@font-face {
  font-family: 'NotoSansKR';
  font-style: normal;
  font-weight: 300;
  src: local("NotoSansKR-Light"), url("//cdn.jsdelivr.net/korean-webfonts/latest/corps/google/NotoSansKR/NotoSansKR-Light-Hangul.woff2") format("woff2"), url("//cdn.jsdelivr.net/korean-webfonts/latest/corps/google/NotoSansKR/NotoSansKR-Light-Hangul.woff") format("woff");
  font-stretch: normal;
  unicode-range: U+0021-33FF,U+A000-F8FF,U+FB00-F251;
}

* {
    padding: 0;
    margin: 0;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    background: #fafafa;
}

li, ol, ul{
    list-style: none;
}

p, span, a, label, textarea{
    font-family: 'NotoSansKR','Malgun Gothic',sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #4a4647;
}

a{
    text-decoration: none;
    color: #4a4647;
}

.base_button_submit{
    background: none;
    font-size: 100%;
    border: none;
    color: #4a4647;
    cursor: pointer;
    font-family: 'NotoSansKR','Malgun Gothic',sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Malgun Gothic',sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    color: #4a4647;
}

header{
    background: #fff;
    border-bottom: 1px solid #e6e6e6;
    height: 72px;
    width: 100%;
}
header > nav{
    max-width: 935px;
    width: 100%;
    margin: 0 auto;
}

nav > ul{
    float: right;
}

nav > ul > li{
    float: left;
    padding-left: 16px;
    line-height: 72px;
}

.left-box, .right-box{
    float: left;
    box-sizing: border-box;
}

.left-box{
    width: 65%;
    padding: 16px;

}
.right-box{
    width: 35%;
    padding: 16px;
    padding-top: 32px;

}

.left-box::after, .right-box::after{
    content: '';
    height: 1px;
    display: block;
    clear: both;
}


.logo{
}

.logo > img{
    padding-top: 24px;
    height: 32px;
}

.container{
    max-width: 935px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
}

.post-wrap{
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    background: #fff;
    margin-bottom: 60px;
}

.post-wrap > .author-box, .content-box, .image-box{
    box-sizing: border-box;
}

.author-box, .content-box, .date{
    padding: 16px;
}

.author-box > .user-profile-image, h4{
    float: left;
    line-height: 48px;
}

.author-box > h4{
    padding-left: 16px;

}

.author-box::after{
    content: '';
    display: block;
    height: 1px;
    clear: both;
}

.user-profile-image{
    width: 48px;
    height: 48px;
    overflow: hidden;
    border-radius: 48px;
}

.user-profile-image > img{
    width: 120%;
}

.login-user-box{
    box-sizing: border-box;
    border-bottom: 1px solid #e6e6e6;

}
.login-user-box::after{
    content: '';
    display: block;
    height: 1px;
    clear: both;
}

.login-user-box > .user-profile-image{
    width: 52px;
    height: 52px;
    border-radius: 52px;
}
.login-user-box > .user-profile-image, .user-id{
    float: left;
}

.login-user-box > .user-id{
    padding-left: 16px;
}
.login-user-box > .user-id::after{
    content: '';
    height: 1px;
    display: block;
    clear: both;
}

.user-id{
    position: relative;
    padding-bottom: 16px;
}

.user-id > h6{
    position: absolute;
    width: 100px;
    top: 36px;
}

.sign-in-wrap{
    display: block;
    width: 100%;
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    padding: 15% 16px;

}

.sign-in-wrap > input{
    width: 60%;
    height: 40px;
    margin: 8px auto;
    display: block;
    padding: 8px;
    border-radius:3px;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
}

.sign-in-wrap > label{
    width: 60%;
    display: block;
    margin: 0 auto;
}
.sign-in-wrap > textarea{
    width: 60%;
    display: block;
    margin: 0 auto;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 8px;
    height: 300px;
    box-sizing: border-box;
}
.sign-in-wrap > button{
    display: block;
    width: 60%;
    margin: 0 auto;
    padding: 8px;
    border-radius: 3px;
    margin-top: 16px;
    height: 48px;
    cursor: pointer;
    border: none;
    color: #fff;
    background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
    transition: all .3s ease-in-out;

}

.sign-in-wrap > button:hover{
    transition: all .3s ease-in-out;
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

.sign-in-wrap > h2{
    text-align: center;
    font-size: 300%;
    font-weight: 200;
    margin-bottom: 32px ;
}

.delete_button{
    padding: 8px 16px;
    border-radius: 3px;
    border: none;
    display: block;
    margin: 8px 0;
    cursor: pointer;
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
    color: #fff;
}

.posting-button{
    margin: 16px 0;
    margin-top: 18px;

}
.posting-button > a{
    display: block;
    font-size: 160%;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    margin: 0 auto;
    /*border: 1px solid #e6e6e6;*/
    border-radius: 48px;
    color: #fff;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    font-weight: 700;

}

@media(max-width: 935px) {
    .right-box{
        display: none;
    }
    .container{
        margin: 0;
    }
    .left-box{
        width: 100%;
        padding: 0;
    }
    .post-wrap{
        border: none;
        background: none;
    }
    .sign-in-wrap{
        border: none;
    }
}