{% extends 'base.html' %}

{% block content %}

    <div class="left-box">

    {% for post in posts %}
        <article class="post-wrap">
            <div class="author-box">
                <div class="user-profile-image">
                    {% if post.author.profile_image %}
                        <img src="{{ post.author.profile_image.url }}" alt="">
                    {% endif %}
                </div>
                <h4>{{ post.author }}</h4>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <button type="submit">+ Follow</button>
                    </form>

            </div>
            <div class="image-box">
                <img src="{{ post.photo.url }}" alt="" width="100%">
            </div>
            <div class="content-box">
                <p>{{ post.content }}</p>
            </div>
            <div class="date">


                    <div class="comments-wrap">
                    {% for comment in post.comments.all %}
                        <div class="comment-user">
                            <div class="img">
                                {% if comment.author.profile_image %}
                                <img src="{{ comment.author.profile_image.url }}" alt="">
                                {% endif %}
                            </div>

                            <p class="author">{{ comment.author }}<span>{{ comment.created_at }}</span></p>
                            <p class="comment-in">{{ comment }}</p>
                        </div>

                    {% endfor %}
                        <form action="{% url 'posts:comment-create' post_pk=post.pk %}" method="POST" class="comment-form">
                            {% csrf_token %}
                            <input type="text" name="content" placeholder="Comment...">
                        </form>
                    </div>


                <span>{{ post.created_at }}</span>
                {% if user == post.author %}
                <form action="{% url 'posts:post-delete' post.pk %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="delete_button">DELETE</button>
                </form>
                {% endif %}
            </div>
        </article>
    {% endfor %}
    </div>


    <div class="right-box">
        <section>
            <div class="login-user-box">
                <div class="user-profile-image">
                    {% if post.author.profile_image %}
                    <img src="{{ user.profile_image.url }}" alt="">
                    {% endif %}
                </div>
                <div class="user-id">
                    <h4>{{ user }}</h4>
                    <h6>{{ user.last_name}} {{ user.first_name  }}</h6>
                </div>
            </div>

        </section>
    </div>

{% endblock %}